@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
	height: 100%;
	margin: 0;
	padding: 0;
}

.map {
	height: 100%;
	width: 100%;
}

.leaflet-container {
	height: 100%;
	z-index: 0;
}

.leaflet-div-icon {
	background: none;
	border: none;
}

/* Search Styles*/
.search {
	@apply w-1/4 min-w-max z-10 fixed left-5 top-5
}

.search-bar {
	@apply bg-white drop-shadow-md rounded-sm flex items-center py-2 pr-2
}

.search-icon {
	@apply mx-4 fill-gray-400
}

.search-box {
	@apply bg-white h-10 text-xl grow outline-none
}

/* Locations List Styles */
.locations {
	@apply drop-shadow-md
}

.locations-list {
	@apply max-h-128 overflow-auto
}

.locations-header {
	@apply bg-blue-500 mt-5 rounded-t-sm last:rounded-b-sm px-5 py-3 text-white font-bold
}

/* Location Styles */
.location {
	@apply bg-white flex items-center py-3 last:rounded-b-sm border-b-gray-100 border-b-2 cursor-pointer last:border-b-0 hover:bg-blue-50 
}

.location-icon-pin {
	@apply w-8 h-8 mx-3 fill-blue-500
}

.location-name {
	@apply font-medium
}

.location-coordinates {
	@apply text-gray-400
}

/* Modal Styles */
.modal {
	@apply z-40 fixed top-0 right-0 bottom-0 left-0 bg-black bg-opacity-50 flex items-center justify-center drop-shadow-md
}

.modal-box {
	@apply bg-white max-w-lg flex flex-col justify-around rounded-md
}

.modal-top {
	@apply flex justify-between items-center p-3 border-b-gray-200 border-b-2 last:border-b-0 h-20
}

.modal-top-left {
	@apply flex items-center
}

.modal-location-icon-pin {
	@apply w-8 h-8 mr-3 fill-blue-500
}

.modal-location-name {
	@apply font-bold text-xl
}

.modal-location-coordinates {
	@apply text-gray-400 text-sm
}

.website-button {
	@apply bg-blue-500 text-white px-5 py-3 rounded-md font-semibold	hover:brightness-110
}

.description {
	@apply p-5 max-h-48 w-full overflow-auto
}

.images {
	@apply flex justify-evenly p-3 overflow-auto flex-row-reverse
}

.image {
	@apply w-36 h-36
}

.icon-exit {
	@apply fill-gray-300 fixed top-5 right-5 w-5 h-5
}

/*Map Styles*/
.svg-icon {
	@apply fill-blue-500 h-full w-full 
}

/*BarChart Styles*/
.bar-chart {
	@apply p-10
}